@charset "utf-8";

/***************************************************************************/
body {
    margin-top     : 4px;
    margin-bottom  : 4px;
    margin-left    : 4px;
    margin-right   : 4px;

    padding-top    : 4px;
    padding-bottom : 4px;
    padding-left   : 4px;
    padding-right  : 4px;

    border-collapse: collapse;
    border-style   : solid;
    border-color   : #fefefe;
    border-width   : 0px;

    /*font-family    : 맑은 고딕;*/
    /*font-family    : 돋움체;*/
    font-family    : 맑은 고딕;
    font-size      : 0.75em;
    font-weight    : normal;
    font-style     : normal;

    background     : #ffffff;
    color          : #000000;

    line-height    : 1.0em;

    vertical-align : top;
    text-align     : left;
}

/***************************************************************************/
h2 {
    font-size: 1.0em;
}

/***************************************************************************/
.제목형식 {
    width: 1000px;
    height: 30px;
    
    padding-left: 20px;

    display: inline-flex;

    background: #4040A0;
    color: white;

    border-radius  : 10px;
    border-collapse: collapse;
    border-style   : solid;
    border-color   : #000000;
    border-width   : 0px;

    justify-content: left; 
    align-items: center;

    text-align: center;
    text-decoration: none;

    font-size: 1.0em;    
    font-weight: bold;
}

/***************************************************************************/
.메뉴형식 {
    padding-left: 20px;

    text-align: left;
}

.메뉴버튼형식 {
    width: 120px;
    height: 30px;
    
    display: inline-flex;

    background: linear-gradient(45deg, #000080, #8080FF);
    color: white;

    border-radius: 5px;

    justify-content: center; 
    align-items: center;

    text-align: center;
    text-decoration: none;

    font-size: 1.0em;    
    font-weight: bold;

    cursor: pointer;
}

.메뉴버튼형식:hover {
    background: linear-gradient(45deg, #000080, #000080);
}

/***************************************************************************/
.내용항목표형식 {
    margin-top     : 1px;
    margin-bottom  : 1px;
    margin-left    : 1px;
    margin-right   : 1px;

    padding-top    : 4px;
    padding-bottom : 4px;
    padding-left   : 4px;
    padding-right  : 4px;

    border: 2px solid rgb(0, 0, 0);
    border-collapse: collapse;
}

.내용항목표형식 th {
    margin-top     : 1px;
    margin-bottom  : 1px;
    margin-left    : 1px;
    margin-right   : 1px;

    padding-top    : 4px;
    padding-bottom : 4px;
    padding-left   : 4px;
    padding-right  : 4px;

    border: 2px solid rgb(0, 0, 0);
    border-collapse: collapse;

    background-color: rgb(185, 252, 188);

    text-align: center;
}

.내용항목표형식 td {
    margin-top     : 1px;
    margin-bottom  : 1px;
    margin-left    : 1px;
    margin-right   : 1px;

    padding-top    : 4px;
    padding-bottom : 4px;
    padding-left   : 4px;
    padding-right  : 4px;

    border: 2px solid rgb(0, 0, 0);
    border-collapse: collapse;

    background-color: rgb(255, 255, 255);

    text-align: center;
}

.내용항목표형식 .left-align {
    padding-left: 4px;
    text-align: left;
}

/***************************************************************************/
.제어버튼형식 {
    width: 100px;
    height: 20px;

    margin-top     : 1px;
    margin-bottom  : 1px;
    margin-left    : 1px;
    margin-right   : 1px;

    padding-top    : 4px;
    padding-bottom : 4px;
    padding-left   : 4px;
    padding-right  : 4px;

    border-radius  : 4px;
    border-collapse: collapse;
    border-left    : 2px solid #808080;
    border-top     : 2px solid #808080;
    border-right   : 2px solid #808080;
    border-bottom  : 2px solid #808080;

    display: inline-flex;

    background: #e0e0e0;
    color     : #000000;

    justify-content: center; 
    align-items    : center;

    text-align     : center;
    text-decoration: none;

    font-size: 10px;

    cursor: pointer;
}

.제어버튼형식:hover {
    border-left  : 2px solid #000000;
    border-top   : 2px solid #000000;
    border-right : 2px solid #000000;
    border-bottom: 2px solid #000000;

    /*background: #ffff00;*/
}

.제어버튼형식:active {
    border-right : 2px solid #ffff00;
    border-bottom: 2px solid #ffff00;
    border-left  : 2px solid #ffff00;
    border-top   : 2px solid #ffff00;

    /*background: #ffff00;*/
}

/***************************************************************************/
.상태표시형식 {
    width: 100px;
    height: 20px;
    
    margin-top     : 1px;
    margin-bottom  : 1px;
    margin-left    : 1px;
    margin-right   : 1px;

    padding-top    : 4px;
    padding-bottom : 4px;
    padding-left   : 4px;
    padding-right  : 4px;

    display: inline-flex;

    background: #f0f0f0;
    color     : #000000;

    border-radius  : 4px;
    border-collapse: collapse;
    border-left    : 2px solid #e0e0e0;
    border-top     : 2px solid #e0e0e0;
    border-right   : 2px solid #e0e0e0;
    border-bottom  : 2px solid #e0e0e0;

    justify-content: center; 
    align-items    : center;

    text-align     : center;
    text-decoration: none;

    font-size: 10px;
}

/***************************************************************************/
.콘솔메시지창형식 {
    height          : 100px;
        
    margin-top      : 5px;
    margin-bottom   : 5px;
    margin-left     : 5px;
    margin-right    : 5px;

    padding-top     : 5px;
    padding-bottom  : 5px;
    padding-left    : 5px;
    padding-right   : 5px;

    overflow-y      : scroll;
    border          : 2px solid #333;
    background-color: #000;
    color           : #fff;
    font-family     : 'Fixedsys', monospace;
}
